/********* RESET CSS **********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear:after{
    clear: both;
    content: ',';
    font-size: 0;
    overflow: hidden;
    display: block;
    width: 100%;
}

/*********************** MAIN CSS *********************************/
body{
    width: 100%;
}
.logo{
    float: left;
    margin-left:8%;
}
.logo>img{
    width: 180px;
}
header{
    background: #000;
    width: 100%;
}
nav{
    float: right;
    margin-left: 10%;
}
nav ul{
    margin-top: 7%;
    margin-left: -50%;
}
nav ul li{
    display: inline-block;
    margin-left: 3%;
}
nav ul li>a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li>a:hover{
    color: #b7413d;
    cursor: pointer;
}
.top {
    display: inline-block;
    position: relative;
    width: 100%;
}
.top>img{
    width: 100%;
}
.top>h1 {
    position: absolute;
    display: inline-block;
    top: 40%;
    font-family: Helvetica;
    color: white;
    font-size: 380%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.top>h4 {
    position: absolute;
    display: inline-block;
    top: 52%;
    color: white;
    font-family: Helvetica;
    font-size: 135%;
    font-variant: 100%;
    width: 100%;
    text-align: center;
}
.top>p{
    width: 80%;
    text-align: center;
}
.top>p>button {
    position: absolute;
    display: inline-block;
    top: 60%;
    color: white;
    font-family: Helvetica;
    font-size: 140%;
    background-color: red;
    border:0px;
    height:13%;
    width: 18%;
    cursor:pointer;
}
@-webkit-keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@-moz-keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.top>p>button:hover{
    color: grey;
    animation-name:spin;
    animation-duration:3s;
}
.left-block{
    float: left;
    width:43%;
    margin-left: 5%;
    font-family: Helvetica Light;
}
h3{
    font-size: 30px;
    margin-top:40px;
}
.left-block>h3{
    margin:20px;
    margin-top:65px;
}
.text{
    margin: 10px;
    line-height: 120%;
    font-size: 17px;
}
.italic{
    font-style: italic;
    font-size: 22px;
}
.right-block{
    float: right;
    width:50%;
    font-family: Helvetica Light;
    background-color: #1b1b1b;
    margin-top:-4px;
}
.right-block>h3{
    color:white;
    margin-left: 2%;
    margin-top: 65px;
}
.right-block>hr{
    margin-left: 2%;
    margin-top: 30px;
}
.text2{
    color: white;
    margin: 10px;
    line-height: 120%;
    font-size: 20px;
}
hr{
    border:none;
    height:2px;
    background-color: red;
    width: 40px;
    display: inline-block;
    margin-left: 10px;
}
.clear{
    clear: both;
}
.content:after{
    display: block;
    content: ".";
    font-size: 0;
    width: 100%;
    height: 1px;
    clear: both;
}
footer{
    height: 150px;
    background: #111111;
    margin-top: -2px;
    width: 100%;
}
footer li:hover{
    color: #b7413d;
}
.footer-block{
    float:left;
    width: 18%;
    margin-top: 20px;
    font-family: Helvetica;
    color: #8c8c8c;
    cursor: pointer;
}
.foo-heading{
    color: #ffffff;
    font-family: Helvetica;
    text-transform: uppercase;
}
.footer-block>hr{
    background-color: #292929;
    width:160px;
    margin-left: 0px;
    margin-top:0px;
}
.social-block>a{
    width:45px;
    height:45px;
    display: block;
    border: 0px solid #000;
    background-repeat: no-repeat;
    background: url(../img/social_sprite.png);
    display: inline-block;
    margin-top: 20px;
}
.social-block .fb{
    background-position: 1px -8px;
}
.social-block .tw{
    background-position: -55px -8px;
}
.social-block .google{
    background-position: -111px -8px;
}



/*////////////////////////////madia queries////////////////////////*/
@media screen and (max-width: 479px){
    .logo>img{
        width: 80px;
        position: relative;
    }
    .top>h1 {
        font-size: 100%;
    }
    .top>h4{
        font-size: 50%;
    }
    .top>p>button{
        font-size: 50%;
    }
    #switcher{
        color: white;
        margin-right:50px;
    }
    #main-menu > ul {
        display: none;
        height: 20px;
        position: absolute;
        right: 95px;
        top: -15px;
    }
     #main-menu>ul>li>a{
        position: absolute;
        z-index: 10000;
        margin-top: 10px;
    }
    #main-menu input[type=checkbox]:checked ~ ul {
        display: block;
    }
    #main-menu li {
        display: block;
        margin-top: 3px;
        height: 10px;
        font-size: 10px;
    }
    #main-menu li.has-sub ul {
        position: static;
        height: auto;
        opacity: 1;
        padding-left: 20px;
        width: calc(100% - 23px);
    }
    #main-menu li.has-sub > a:hover ~ ul {
        height: auto;
    }
    .left-block{
        float: none;
        width: 90%;
    }
    .left-block>h3 {
        margin-top: 20px;
        font-size: 23px;
    }
    .text{
        font-size: 12px;
    }
    .italic{
        font-size: 17px;
    }
    .right-block{
        float: none;
        width: 100%;
        padding-top: 1px;
    }
    .right-block>h3{
        margin-left: 5%;
        margin-top: 20px;
        font-size: 23px;
    }
    .right-block>hr{
        margin-left: 5%;
    }
    .text2{
        margin-left: 5%;
        font-size: 12px;
        padding-bottom: 10px;
    }
    footer{
        height: auto;
        margin-top: -31px;
        font-size: 12px;
    }
    .footer-block{
        margin-left: 5%;
        width: 41%;
        height: 80px;
    }
    .footer-block>hr{
        width: 120px;   
    }
    footer:after{
        display: block;
        content: ".";
        font-size: 0;
        width: 100%;
        height: 1px;
        clear: both;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    .logo>img{
        width: 120px;
        position: relative;
    }
    .top>h1 {
        font-size: 170%;
    }
    .top>h4{
        font-size: 80%;
    }
    .top>p>button{
        font-size: 80%;
    }
    #switcher{
        color: white;
        margin-right:50px;
    }
    #main-menu > ul {
        display: none;
        height: 20px;
        position: absolute;
        right: 95px;
        top: -20px;
    }
    #main-menu input[type=checkbox]:checked ~ ul {
        display: block;
    }
    #main-menu li {
        display: block;
        margin-top: 3px;
        height: 20px;
    }
    #main-menu>ul>li>a{
        position: absolute;
        z-index: 10000;
        margin-top: 10px;
    }
    #main-menu li.has-sub ul {
        position: static;
        height: auto;
        opacity: 1;
        padding-left: 20px;
        width: calc(100% - 23px);
    }
    #main-menu li.has-sub > a:hover ~ ul {
        height: auto;
    }
    .left-block>h3{
        margin-top: 20px;
        font-size: 26px;
    }
    .left-block{
        float: none;
        width: 90%
    }
    .text{
        font-size: 15px;
    }
    .italic{
        font-size: 20px;
    }
    .right-block{
        float: none;
        width: 100%;
        padding-top: 1px;
    }
    .right-block>h3{
        margin-left: 5%;
        margin-top: 20px;
        font-size: 26px;
    }
    .right-block>hr{
        margin-left: 5%;
    }
    .text2{
        margin-left: 5%;
        font-size: 15px;
        padding-bottom: 10px;
    }
    footer{
        height: auto;
        margin-top: -31px;
        font-size: 14px;
    }
    .footer-block{
        margin-left: 5%;
        width: 45%;
        height: 90px;
    }
    footer:after{
        display: block;
        content: ".";
        font-size: 0;
        width: 100%;
        height: 1px;
        clear: both;
    }
}
@media screen and (min-width: 769px) and (max-width: 980px){
    .logo>img{
        width: 140px;
    }
    #switcher{
        display: none;
    }
    .top>h1 {
        font-size: 270%;
    }
    .top>h4{
        font-size: 100%;
    }
   .top>p>button>a{
        font-size: 100%;
    }
    .left-block{
        float: none;
        width: 90%;
    }
    .left-block>h3{
        margin-top: 20px;
    }
    .right-block{
        float: none;
        width: 100%;
        padding-top: 1px;
    }
    .right-block>h3{
        margin-left: 5%;
        margin-top: 20px;
    }
    .right-block>hr{
        margin-left: 5%;
    }
    .text2{
        margin-left: 5%;
    }
    footer{
        margin-top: -12px;
    }
    .footer-block{
       margin-left: 5%;
       width: 20%;
    }
    .footer-block>hr{
        width: 130px;
    }
}
@media screen and (min-width: 981px){
    #switcher{
        display: none;
    }
    .top>h1 {
        font-size: 300%;
    }
    .footer-block{
        margin-left: 7%;
    }
}
